{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie_detail.img.url}}" width="400" height="500">
        </div>
        <div class="col-md-6">
            <h2>{{movie_detail.name}}</h2>
            <h4>{{movie_detail.desc}}</h4>
            <h5>{{movie_detail.year}}</h5>
                    <a class="btn btn-warning" href="{% url 'movieapp:update' movie_detail.id %}">update</a>
                  <a class="btn btn-danger" href="{% url 'movieapp:delete' movie_detail.id %}">Delete</a>
              </div>
    </div>
</div>

{% endblock %}